/* App.css */

.website {
  width: 90%;
  height: 83vh;
  position: relative;

  margin: 5vh auto;

  background: #F5F0FF;

  overflow-y: auto; /* THIS scrolls */

  border-radius: 20px;

  color: #2F2A3A;
  padding: 2rem;
  box-shadow:
   0 25px 80px rgba(183,153,255,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  height: 1px;

  background: rgba(255,255,255,0.06);

  border-radius: 20px 20px 0 0;
}

.main-feature{
  height: 90%;
  width: 100%;
  border-radius:20px ;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.main-feature .prompt{
  display: flex;
  height: 90%;
  width: 20%;
  border-radius:24px ;
  transform: rotate(-0.3deg) translateY(15px);
  background-color: #FFFFFF;
  box-shadow:
0 0 8px 30px rgba(183,153,255,0.12);
  border:1px solid rgba(183,153,255,0.15);
}

.main-feature .imageF{
  display: flex;
  position: relative;
  height: 100%;
  width: 45%;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 26px;
  background:
  linear-gradient(
      180deg,
      #FFFFFF,
      #F8F4FF
  );
  z-index: 1;
  box-shadow:
      0 0 0 1px rgba(255,255,255,0.02),
      0 20px 40px rgba(0,0,0,0.35);
}

.main-feature .imageF::before {
    content: "";

    position: absolute;
    inset: -40px;

    background:
    rgba(183,153,255,0.18);

    filter: blur(80px);

    z-index: -1;
}

.main-feature .used{
  height: 90%;
  width: 20%;
  border-radius: 24px;
  transform: rotate(0.3deg) translateY(15px);
  background:#FFFFFF;

  border:
    1px solid rgba(183,153,255,0.15);

  box-shadow:
    0 8px 30px rgba(183,153,255,0.12);
}

