.slider{

    position:absolute;

    width:100%;

    overflow:hidden;

    background:#7A5C43;

    z-index:1;
}

.slider.left{

    top:430px;
}

.slider.right{

    top:650px;
}

.track{

    display:flex;

    width:max-content;

    will-change:transform;
}